body {
    background-color: black;
    background-image: url('../Images/NikolaiChernichenko-Unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

h1 {
  color: #FDFBF9;
  margin-left: auto;
  margin-right: auto;
}


header {
  margin-left: 2rem;
}

.game-package {
    color: #FDFBF9;
    background-color: #301934;
}

.game-package {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-item {
    display: flex;
    width: calc(33.33% - 2rem);
    flex-direction: column;
    align-items: center;
    background-color: #28282B;
    border: outset #28282B;
    border-radius: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
  }

  .game-item:hover {
    transform: scale(1.0);
    background-color: #36454F;
    border-radius: 4rem;
  }

.game-posters {
    display: flex;
    height: 250px;
    width: 400px;
    padding-top: 2rem;
    object-fit: cover;
    object-position: center center;
}

.button-favorite {
    margin-top: 2rem;
}

.button-search {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

a:link {
  text-decoration: none!important;
}

ul {
  list-style-type: none;
  width: 6rem;
}


// ----------------------------------------------------------------------------------- //


  @media (max-width: 480px) {
    .game-posters {
      height: 100px;
      width: 150px;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .game-item {
        display: flex;
        width: calc(50% - 2rem); /* Three items per row with spacing */
        flex-direction: column;
        align-items: center;
        background-color: #28282B;
        border: solid #28282B;
        border-radius: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
      }

  }
  