body {
    background-color: black;
    background-image: url('../Images/NikolaiChernichenko-Unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    //fikset et problem hvor siden ikke altid fylte hele vinduet, 
    //og lagde en svart bar på høyre side
    //https://www.freecodecamp.org/news/how-to-center-an-absolute-positioned-element/
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}



h1 {
  color: #FDFBF9;
  margin-left: 2rem;
  margin-right: auto;
  width: 200px;
  font-size: 4rem;
  font-family: 'VT323', monospace;
}

h2 {
  color: #FDFBF9;
  margin-left: 2rem;
  margin-right: auto;
  font-size: 2rem;
  font-family: 'VT323', monospace;
}


//header {
  //margin-left: 2rem;

//}

.navoptions {
  color: #FDFBF9;
  margin-right: 2rem;
  float: right;
  font-size: 2rem;
  font-family: 'VT323', monospace;
}



.game-package {
    color: #FDFBF9;
    background-color: #301934;
}

.game-package {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-item {
    display: flex;
    width: calc(33.33% - 2rem);
    flex-direction: column;
    align-items: center;
    background-color: #28282B;
    border: outset #28282B;
    border-radius: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
  }

  .game-item:hover {
    transform: scale(1.0);
    background-color: #36454F;
    border-radius: 4rem;
  }

.game-posters {
    display: flex;
    height: 250px;
    width: 400px;
    padding-top: 2rem;
    object-fit: cover;
    object-position: center center;
}

/*.button-favorite {
    margin-top: 2rem;
}

.button-buy {
  padding-top: 1rem;
}*/

.navoptions:hover {
  transform: scale(1.0);
  background-color: #36454F;
  border-radius: 4rem;
}

h1:hover {
  transform: scale(1.0);
  background-color: #36454F;
  border-radius: 4rem;
}

.button-search {
  display: flex;
  font-size: 4rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-bottom: 2rem;
}

.button-search input {
   width: 12rem;
   height: 2rem;
}

a:link {
  text-decoration: none!important;
}

//hjelp med footer justering
//https://stackoverflow.com/questions/57531348/how-to-make-footer-align-to-center-in-nested-component-scenario-in-react
.footer {
  
left:0;
bottom:0;
right:0;
color: #FDFBF9;
text-align: center;
margin-bottom: 2rem;
margin-top: 2rem;
}

.footeritem {
  color: #FDFBF9;
  align-content: center;
}


// ----------------------------------------------------------------------------------- //


   @media (max-width: 1300px) {
    .game-posters {
      height: 200px;
      width: 250px;
      margin-right: 1rem;
      margin-left: 1rem;
      
    }

    .game-item {
        display: flex;
        width: calc(50% - 2rem); /* Three items per row with spacing */
        flex-direction: column;
        align-items: center;
        background-color: #28282B;
        border: solid #28282B;
        border-radius: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
      }

  }
  
  @media (max-width: 700px) {
    .game-posters {
      height: 100px;
      width: 150px;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .game-item {
        display: flex;
        width: calc(50% - 2rem); /* Three items per row with spacing */
        flex-direction: column;
        align-items: center;
        background-color: #28282B;
        border: solid #28282B;
        border-radius: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
      }

      .navoptions {
        font-size: 1rem;
      }

  }